//--------------------------------------------------------
// 顶部bar 
//--------------------------------------------------------
$bar-color:          #fff;              //顶部导航文字颜色;
$bar-bgcolor:        #009688;           //顶部导航背景颜色;
$search-input:       #00796b;
$search-placehoder:  #a3c3be;
$btn-link:           #fff;
$btn-link-active:    #00796b;



//--------------------------------------------------------
// 低部bar 
//--------------------------------------------------------

$sub-bar-color:          #999;
$sub-bar-bgcolor:        #f6f6f6;
$sub-bar-active-color:   #008ed5;



//--------------------------------------------------------
// 按钮
//--------------------------------------------------------
$btn-primary:        #009688;
$btn-primary-active: #2a786d;
$btn-cir:            #8ac249;

//--------------------------------------------------------
// segment
//--------------------------------------------------------
$segment-border-color:     #fff;
$segment-active-color:     #008ed6;   //选中文字颜色;
$segment-active-bgcolor:   #fff;      //选中背景颜色;




//--------------------------------------------------------
// 文字
//--------------------------------------------------------
$label-warning:    #f0ad4e;
$label-important:  #008ed6;
$nm3k-color:       #ef9a19;
$no-result:        #f60;


//--------------------------------------------------------
// 列表
//--------------------------------------------------------
$list-color:      #008ed6;
$online-bg:       #48b94a;
$offline-bg:      #eb644b;
$time-color:      #8e8e8e;



//--------------------------------------------------------
// 圆圈进度
//--------------------------------------------------------
$cir-radius:             2px; 
$cir-line-width:         6px;
$cir-top-txt-color:      #fff;
$cir-precent-txt-color:  #c6ff83;
$cir-bottom-txt-color:   #52ffac;
$cir-bg:                 #fff;
$cir-selected-bg:        #c6ff83;


$detect:                 #bcbcbc;
$detect-line:            #eceef3; 
$detect-success:         #429488;
$detect-fail:            #ff8f8f;